
{{> navbar showlogout = true}}
<div class="container">
    <h2>{{username}}</h2>

    <div class="input-group">
        <textarea name="description"  class="form-control" aria-label="With textarea">Im new!</textarea>
    </div>

</div>